.container {
    width: 400px;
    background: #000;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 0 20px rgba(255, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
    gap: 20px;
    text-align: center;
}

h2{
    color: #fff;
    text-align: center;
    font-size: 36px;
}

input{
    display: block;
    width: 100%;
    padding: 14px;
    background: #222;
    border: 1px solid #444;
    border-radius: 6px;
    color: #fff;
    margin-bottom: 24px;
    margin-right: 24px;
}

label{
    color: #ccc;
    margin-bottom: 12px;
    display: block;
    text-align: left;
}

button{
    padding: 14px;
    background: #e50914;
    border: none;
    border-radius: 6px;
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    transition: background 0.3s ease;
}

button:hover {
    background: #b00710;
}

#red{
    color: red;
}

#green{
    color: green;
}
